* {
  /* border: 1px solid grey; */
  background-color: #FEF6DA;

  font-family: "Overpass";
}

/* button {
  color: white;
} */

/* start of HEADER component styling */
.header-container {
  display: flex;
  /* justify-content: space-between; */
}
.header-container nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
.logo {
  width: 15%;
  height: auto;
  max-width: 80px;
}
.logo-text {
  font-size: 2rem;
  display:flex;
  align-items: center;
  margin: 0 0 0 10px;
}

/* start of PRIVATE-ROUTE styling */
.private-route-container {
  background-color: #FA565E;
}

/* start of TRUCK component styling */
.truck-container {
  display: flex;

}



/* start of DINER component styling */
.diner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* start of TRUCKLIST component styling */
.truck-list-container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* start of REGISTER styling */
.register-form {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #FA565E;
}

.radio {
  display: flex;
  flex-direction: row;
  padding: 0 0 1.4% 0;
}

.radio input{
  display: flex;
  flex-direction: row;
}

.register-form .register-text, .radio, .checkbox, .input {
  background-color: #FA565E;
}
input[type=text],[type=email],[type=password], [name=username] {
  /* padding: 1.6%;
  border: 2px solid #F6B638;
  margin: 1%; */
  border: 0;
  padding: 5px 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
}

label [for='input'] {
  margin-top: 5px;
}

.register-container {
  background-color: #FA565E;
  /* border: 1px solid black; */
  padding: 4% 4% 0 4%;
  display: flex;
  flex-direction: column;
  margin: 8% auto 0 auto;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  width: 420px;
}


button:disabled, button[disabled] {
  background-color: #FEF6DA;

}
.button {
  background-color: white;
  font-size: .8rem;
  padding: 7px 9px;
  border: none;
  width: 140px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 1px 1px 4px grey;
}

.button:hover {
  background-color: #F6B638;
}

.links {
  display: flex;
  background-color: #FA565E;
  /* text-align: center; */
  /* padding: 7px 9px; */
}

.link {
  /* border: 1px black solid; */
  width: auto;
  background-color: #FA565E;
  color: black;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  padding: 7px 9px;
}

.link:focus {
  background-color: white;

}

.checkbox {
  display: flex;
  align-items: center;
}
.checkbox p {
  padding: 1%;
}

/* start of LOGIN styling */

.login-container {
  background-color: #FA565E;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  padding: 4%;
}

#login-text {
  background-color: #FA565E;
}

.login-container form {
  background-color: #FA565E;
}